<h1> <%= @post.title %> </h1>

<div>
  <%= render partial: "comments/form", locals: { post: @post, comment: @comment }%>
</div>

Comments:
<div>
  <% @comments.each_with_index do |comment, index| %>
    <div>
      <%= index + 1 %>.
      <%= comment.content %>
      <p> add edit actions</p>

    <div>
  <% end %>
</div>
